<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131198101586-j2vikc3qk761n1npvo5ej1f3as3pi86b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131198101586-j2vikc3qk761n1npvo5ej1f3as3pi86b</string>
	<key>API_KEY</key>
	<string>AIzaSyDMcErVPmmrzOiXIyPg3X4zQeg-1rokASQ</string>
	<key>GCM_SENDER_ID</key>
	<string>131198101586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>curiosity.Curiosity</string>
	<key>PROJECT_ID</key>
	<string>curiosity-arthur-test</string>
	<key>STORAGE_BUCKET</key>
	<string>curiosity-arthur-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131198101586:ios:76e071e52bb25427d9178b</string>
</dict>
</plist>